.1_3 { 
	overflow:hidden;
}.e1_3 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(images/desktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_4 { 
	background-color:rgba(204.1569346189499, 204.1569346189499, 204.1569346189499, 1);
	width:2000px;
	height:60px;
	position:absolute;
	left:-280px;
	top:0px;
}.e1_5 { 
	background-color:rgba(20.344437025487423, 18.703010603785515, 18.703010603785515, 1);
	width:1380px;
	height:60px;
	position:absolute;
	left:30px;
	top:0px;
}.e1_9 { 
	width:120px;
	height:40px;
	position:absolute;
	left:233px;
	top:10px;
}.e1_7 { 
	background-color:rgba(20.000000707805157, 19.0000007674098, 19.0000007674098, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.e1_8 { 
	color:rgba(241.18746757507324, 241.18746757507324, 241.18746757507324, 1);
	width:54px;
	height:19px;
	position:absolute;
	left:38px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_10 { 
	width:118px;
	height:40px;
	position:absolute;
	left:383px;
	top:10px;
}.e1_11 { 
	background-color:rgba(20.000000707805157, 19.0000007674098, 19.0000007674098, 1);
	width:118px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.e1_12 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:52px;
	height:19px;
	position:absolute;
	left:33px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_13 { 
	width:136px;
	height:40px;
	position:absolute;
	left:1246px;
	top:10px;
}.e1_14 { 
	background-color:rgba(20.000000707805157, 19.0000007674098, 19.0000007674098, 1);
	width:136px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.e1_15 { 
	color:rgba(255, 255, 255, 1);
	width:61.91044616699219px;
	height:19px;
	position:absolute;
	left:39.582088470458984px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_16 { 
	width:110px;
	height:40px;
	position:absolute;
	left:1106px;
	top:10px;
}.e1_17 { 
	background-color:rgba(20.000000707805157, 19.0000007674098, 19.0000007674098, 1);
	width:110px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}.e1_18 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:19px;
	position:absolute;
	left:33px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_25 { 
	width:151px;
	height:46px;
	position:absolute;
	left:52px;
	top:7px;
}.e1_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:151px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e1_24 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:25px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e1_29 { 
	width:271px;
	height:104px;
	position:absolute;
	left:325px;
	top:540px;
}.e1_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:271px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e1_28 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:67px;
	position:absolute;
	left:33px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e15_2 { 
	width:396px;
	height:353px;
	position:absolute;
	left:743px;
	top:291px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(images/rectangle_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}